.container {
  display: flex;
  flex-direction: column;
}
span {
  font-size: x-large;
  font-weight: 500;
  margin-bottom: 20px;
}
mat-form-field {
  width: 100%;
}
button {
  width: 25%;
  margin-left: auto;
}
